.homeContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.leftSide {
    background-color: #ECEADA;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
    box-sizing: border-box;
}

.topWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3vw;
}

.textSection {
    display: flex;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

.welcomeText {
    color: #005035;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 3vw;
    line-height: 1.1;
}

.verticalLine {
    width: 2px;
    background-color: #005035;
    height: 30vh;
}

.sloganText {
    color: #005035;
    font-family: 'Playfair Display', serif;
    font-size: 1.4vw;
    font-weight: 700;
    margin-top: 4vh
}

.bottomWrapper {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.mascotLink {
    display: inline-block;
    transition: transform 0.2s ease;
}

.mascotLink:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.mascotImage {
    width: 20vw;
    height: auto;
}

.rightSide {
    width: 50vw;
    height: 100vh;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.sloganWrapper {
    margin-top: 6vh;
}