.homebody{
    background-color: #A49665;
    display: flex;
    flex-direction: column;
    padding-bottom: 27%;
}
.welcome
{
    color: #005035;
    font-weight: 700;
    padding-top: 5%;
    margin: auto;
    width: 70%;
    text-align: center;
    font-family: "Playfair", sans-serif;
}
.homeLogin{
    margin-left: 50%;
    margin-right: 48%;
    padding: 1%;
}
.homePortal
{
    margin-left: 42%;
    margin-right: 43%;
    padding: 1%;
}