.border{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-border {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    background-color: lightgrey;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


.first-last-build {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.first-last-build label {
    display: flex;
    flex-direction: column;
}


.first-last-build input{
    width:80%;
}

.location-select {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
    width: 100%;
    max-width: 300px;
}

.location-select label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
}

.location-select label:hover {
    background-color: #f0f0f0;
}

.location-select input[type="radio"] {
    accent-color: red;
}
    
    

.add-photo{
    display:flex;
    flex-direction: column;
    width: 30%;
    margin-top: 1%;
}

.problem{
    display:flex;
    flex-direction: column;
    width: 100%; 
    padding-bottom: 5%; 
    padding-top: 5%; 
    align-items: flex-start;
}

.problem textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    text-align: start;
    resize: none;
}

.updates {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    /* align-self: center; */
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 30%;
    border-radius: 8px;
    background-color: #f1f1f1;
}

/* w3schools */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.room-number {
    width: 50%;
    margin-top: 10px;
  
}
.room-number input {
    width: 10%;
    padding: 5px;
}

.submitTicket {
    margin-top: 20px;
}

.submitTicket button {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.submitTicket button:hover {
    background-color: rgb(0, 43, 0);
}

.return {
    margin-bottom: 20px;
}
  
.back-button {
    display: inline-block;
    color: white;
    background-color: #005035;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
}

.back-button:hover {
background-color: #002c1d;
}
  


    





