.fullPage {
  display: flex;
  height: 100vh; 
}

.leftPanel {
  width: 25%; 
  background-color: #f4f4f4;
  height: 100vh; 
  padding: 1%; 
  box-sizing: border-box;
}

.rightPanel {
  flex-grow: 1; 
  margin: 20px;
  background-color: #ffffff;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.allTickets {
  width: 100%;
  border: 1px solid lightgrey;
  background-color: #fafafa;
  padding: 10px;
}

.allTickets table {
  width: 100%;
  border-collapse: collapse;
}

.allTickets th, .allTickets td {
  border: 1px solid grey;
  padding: 1%;
  text-align: left;
  overflow: hidden;
}

.ticketHeader {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}

.listedTickets tr:nth-child(odd) {
  background-color: lightgray;
}

.viewButton {
  background: none;
  color: black;
  padding: 5px;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid black;
  cursor: pointer;
}

.viewButton:hover {
  background-color: lightgray;
}

.filtersMain
{
  align-content: flex-start;
  flex: auto;
  background-color: lightgrey;
  height: 100%;
  justify-content: space-between;
}

.filters li
{
  margin-bottom: 10%;
  margin-right: 10%;
}

.searchBox
{
  padding-top: 10%;
}

.Places
{
  border: black 2px solid;
  padding-right: 10%;
  padding-left: 3%;
  padding-top: 3%;
}

.buildingLocation
{
  margin: 10%;
}

.searching
{
  width: 100%;
}

.backButton
{
  background: red;
  padding: 5%;
}

.buttonObject
{
  padding-bottom: 2%;
  margin-top: 5%;
  padding-right: 80%;
  width: 100%;
}