.user-portal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  background-color: #f4f4f4;
  height: 100vh;
}

.user-portal-title {
  text-align: center;
  margin-bottom: 2%;
  color: #A49665;
  background-color: #005035;
  padding: 1%;
  border-radius: 10px;
  width: 100%;
}

.user-portal-content {
  display: flex;
  width: 90%;
  height: 80%;
  gap: 2%;
}

.user-portal-left-panel {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2%;
  background-color: #A49665;
  border-radius: 10px;
  align-items: center;
}

.user-portal-left-panel button {
  padding: 10px;
  background-color: #005035;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.user-portal-left-panel button:hover {
  background-color: #003D26;
}

.user-portal-right-panel {
  width: 70%;
  background-color: white;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.user-portal-tickets-table {
  width: 100%;
  border-collapse: collapse;
}

.user-portal-tickets-table th, .tickets-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-portal-tickets-table th {
  background-color: #005035;
  color: white;
}

.user-portal-tickets-table tr:hover {
  background-color: #f1f1f1;
}
